<div class="container body-content">

    <h1>@ViewBag.title</h1>
    <table class="job-listing">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>PositionType</th>
            <th>CoreCompetency</th>
        </tr>
        @{
            //TODO #1: Use a loop to display job results in a table.
            List<Job> jobs = ViewBag.jobs;

            foreach (var job in jobs)
            {

                <tr>
                    <td>@job.Id</td>
                    <td>@job.Name</td>
                    <td>@job.Employer</td>
                    <td>@job.Location</td>
                    <td>@job.PositionType</td>
                    <td>@job.CoreCompetency</td>
                </tr>
            }
        }

    </table>

</div>